.topHed{
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    font-size: .8rem;
    padding: 5px 0;
}
.hdrConWrp{
    overflow: hidden;
}
.hdrCon{
    float: left;
}
.hdrCon img{
    width: 14px;
    margin-right: 5px;
    margin-top: -2px;
}

.hrdUsrHlpWrp{
    float: right;
}
.hrdUsrHlp{
    float: left;
    margin-left: 15px;
}
.hdrSrch{
    position: relative;
    max-width: 169px;
}
.hdrSrch input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0 40px 0 8px;
        display: block;
    width: 100%;
}
.hdrSrch [type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: transparent url(../images/site/search.png) 7px 3px no-repeat;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.22);
    background-size: 15px;
}
.cartLink{
    display: block;
    width: 20px;
    position: relative;
}
.cartLink span{
    position: absolute;
    top: 2px;
    right: 0;
    background: green;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    color: #fff;
    font-size: 8px;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
}
.myAcc .nrmlBtn{
    background: transparent;
    border: none;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: #fff;
}
header.smaller{
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.headerWrap{
  position: relative;
  margin-top: 15px;
}
.menuBtn{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #1da36e;
  border-radius: 3px;
  color: #fff !important;
  padding:10px !important;
  min-width: 130px;
  text-align: center;
  display:block;
  margin-top:5px !important;
}
.logoWrap{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.logoWrap a{}
.telCon{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: var(--hedline-font);
  font-weight: 400;
  color: #3d4852;
}
#menu-line {
  display: none;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 12px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a,
#cssmenu .megamenu.hover > a {
  color: #1da36e;
}

#cssmenu > ul > li.has-submenu > a::after{
  position: absolute;
  bottom: 5px;
  right: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-submenu:hover > a::after, #cssmenu .megamenu.hover > a::after {
  border-color: #fd454c;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  text-align: left;
}
#cssmenu li:hover > ul {
  left: auto;
  
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height:auto;
  
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li a {
  padding: 15px 20px;
  width:200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  text-decoration: none;
  color: #3d4852;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fd454c;
  background-color: rgba(0, 0, 0, 0.005);
}
#cssmenu ul ul li.has-submenu > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-submenu > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-submenu:hover > a::after {
  border-color: #ffffff;
}
/*----megamenu----*/
.megamenu{}
.megamenu.hover{}
.megamenuBox{
  display: none; 
  /*-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;*/
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.megamenuBox ul{
  -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.megamenuBox ul li{
    display: inline-block;
    width: 100%;
}

.megamenuBox ul li a{
    color: #414141;
    display: block;
    padding: 8px 5px 8px 25px;
    line-height: 1.4;
    position: relative;
    /*-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;*/
}
.megamenuBox ul li a:before{
  content: "";
  background-color: #ff4e50;
  position: absolute;
  top: 16px;
  left: 0;
  height: 8px;
  width: 8px;
  opacity: .6;
  border-radius: 50%;
 /* -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;*/
}
.megamenuBox ul li.menuHed a{
    font-weight: 800;
    text-transform: uppercase;
    pointer-events: none;
    color: #ff4e50;
    font-size: .9rem;
    margin-top: 10px;
}
.megamenuBox ul li.menuHed a:before{display: none;}
.megamenuBox ul li a:hover{
    color: #000;
}
.megamenuBox ul li a:hover:before{
  
  opacity: 1;
}

@media all and (min-width: 991px){
  header{}
  header.smaller{}
  .logoWrap{
    width: 63px;
    margin-top: -12px;
  }
  .logoWrap a{}
  .telCon{display: none;}
  .menuWrap{
    text-align: right;
}
  .menuBtn{
    margin-left:30px !important;
  }
  .login{}

  #cssmenu {
    display: inline-block;
  }
  #cssmenu li:hover > ul {
    padding-top: 11px;
}
}
@media all and (max-width: 992px){
  header{ background: #fff;}
  .logoWrap{
    width:40px;
    left: calc(50% - 75px);
    top: -4px;
  }
  .menuBtn{
    margin:50px 0 15px !important;
  }


  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu ul.open{padding-top:40px;    min-height: calc(100vh);}
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.06);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    text-align: center;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-submenu > a::after,
  #cssmenu ul ul li.has-submenu > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding:16px 0;
    color: transparent;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
