@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500&display=swap');
/* Fonts */
:root {
	font-family: 'Ubuntu', sans-serif;
	--hedline-font : 'Ubuntu', sans-serif;
}

.font-normal {font-weight: 400 !important;}
.font-medium {font-weight: 500;}
.font-italic {font-weight: 600;}
.font-bold {font-weight: 700;}

.text-sm{font-size: .9rem;}
.text-2xl{font-size: 1.2rem;}
.text-3xl{font-size: 1.4rem;}
.text-4xl{font-size: 1.6rem;}
.text-5xl{font-size: 1.8rem;}
.text-6xl{font-size: 2rem;}
.text-7xl{font-size: 2.2rem;}
/* Fonts end */



.relative{position: relative;}
.rounded-full {border-radius: 9999px;}
.shadowlg{box-shadow: 0 0 15px rgba(0,0,0,.2);}
.bgWhite{background-color: #fff;}

.my-30{margin-top: 30px; margin-bottom: 30px;}
.mt-70{margin-top: 70px;}
.mb-70{margin-bottom: 70px;}
.mt-150{margin-top: 150px;}
.mb-150{margin-bottom: 150px;}

.pb-30{padding-bottom:30px;}
.py-30{padding-top: 30px; padding-bottom:30px;}
.py-50{padding-top: 50px; padding-bottom: 50px;}

.max-300{max-width: 300px;}
.max-600{max-width: 600px;}
.max-800{max-width: 800px;}
.max-960{max-width: 960px;}



*{outline: none !important;}
html {overflow-x: hidden !important;}
body {
     overflow-x: hidden !important;
    /*font-size: 1.6em;*/
    font-family: var(--text-font);
    color: #000;
    font-weight: 400;
	background-color: #f7f7f7;
	padding-top: 95px;
}
img {max-width: 100%;}

.transition{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a, a:hover, a:focus{text-decoration:none !important;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--hedline-font);
    font-weight:500;
    color: inherit;
}
/*--- vertical align middle by display table ----*/
.parent-div, .parent-v_wrap {
    display: table;
    width: 100%;
}
.div-child, .v_wrap {
    display: table-cell;
    vertical-align: middle;
}

.min-vh{min-height: 50vh;}
.container{
    max-width: 1170px;
}
/*----*/
.pillDark{
	border-radius: 300px;
	display: inline-block;
	font-weight: 600;
	padding: 8px 10px;
	text-align: center;
	min-width: 180px;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
.pillDark{
	background: #3d4852;
	color: #fff;
}
.pillDark:hover{
	background: #293036;
	color: #fff;
}
.bigPill{
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 1.2rem;
	min-width: 250px;
	margin: 5px;
}
.largePill{
	padding:18px 40px;
	font-size: 1.4rem;
}

/*---- for input----*/
.input {
	position: relative;
	z-index: 1;
	display:block;
	vertical-align: top;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
	outline: none;
}
.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input__label-content {
	position: relative;
	display: block;
	padding:24px 0 0;
	width: 100%;
}
/* Hoshi */
.input--hoshi {
	overflow: hidden;
}
.input__field--hoshi {
	padding: 25px 0.15em 5px;
    margin-bottom: 20px;
	width: 100%;
	background: transparent;
	color: #595F6E;
}
.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 6px);
	text-align: left;
	pointer-events: none;
}
.input__label-content--hoshi {
	position: absolute;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
	margin-top: 1px;
	border-bottom:1px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__label--hoshi-color-1::after {
	border-color: hsl(0, 0%, 64%);
}
.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}
.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
	
	font-size: 70.25%;
}
@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}
@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

.arror{color: red;font-size: 12px;}
.input--hoshi label.error{
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    text-align: left;
    margin: 0px 0 0;
    font-size: 12px;
    color: red;
    width: 100%;
}
/*-----------------------*/